/* Layout */

.col90 { width:90px;}
.col200 { width:200px;}
.col310 { width:310px;}
.col420 { width:420px;}
.col530 { width:530px;}
.col640 { width:640px;}
.col750 { width:750px;}
.col860 { width:860px;}

.gutter110 { margin-left: 110px;}

.column { margin-right: 20px; overflow: hidden; float: left; display: inline;}
.row { width: 860px; margin: 0 auto; overflow: hidden;}
.row .row { margin: 0 -10px; width: auto; display: inline-block;}

.col { float: left; width: 300px; margin: 0 10px}
.col .col { margin: 0;}

body { background: #fff url('/images/site/bg_grd.gif'); font-family: "Lucida Grande","Lucida Sans",Helvetica,Arial,sans-serif; color: #666;}
#header, #footer { width: 100%; height: 100px; background: #000; }
#panel { width: 415px; height: 35px; float: right; background: #1b1b1b; margin-top: 22px; padding: 11px 10px 10px 15px; -moz-border-radius: 5px; -webkit-border-radius: 5px;}
#title { background: #fff;}
#overview { width: 100%; border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; }
#article { padding: 6px 0 14px 0;}
#archive { padding-bottom: 20px;}
.wrapper { margin: 0 auto; width: 860px; overflow: hidden; }
#home .wrapper { width: 880px;}

#overview dl { font-size: 0.8125em; line-height: 1.538em; color: #666; margin-top: 24px;}
#overview dt { font-weight: bold; }

#menu li { display: inline; float: right; margin: 5px 0 0 6px;}
#menu li a { font-size: 0.75em; text-align: center; color: #666; width: 60px; display: block; padding: 5px 0 7px 0; background: #333; -moz-border-radius: 5px; -webkit-border-radius: 5px;}
#menu li.rss a { width: 25px; background: #333 url('/images/site/rss_icon.gif'); text-indent: -9999px;}
#menu li a:hover { color: #000; background: #09c; border-bottom: none;}
#menu li.rss a:hover { background: #333 url('/images/site/rss_icon_active.gif');}

#panel h5 { font-size: 0.75em; line-height: 1.4em; color: #444; font-weight: normal; width: 230px; float: left;}
#panel h5 a { color: #555; }

#archive ul { margin-top: 14px;}
#archive li { width: 200px; height: 140px; background: #000; margin: 0 20px 20px 0; float: left; position: relative;}
#archive li.no-margin { margin-right: 0;}
#archive li img { position: absolute; top: 0; left: 0; z-index: 1;}

#home ul { margin: 20px 0 0 0;}
#home li { width: 380px; background: #ccc; margin: 0 10px 20px 10px; padding: 20px 20px 6px 20px; float: left;}
#home li.offset { margin-top: 20px;}
#home li.feature { background: #000;}

/* Typography */

h1 { color: #fff; }
h3 { font-size: 0.8125em; line-height: 1.538em; color: #333; margin: 10px 0 10px 0;}

p { font-size: 0.8125em; line-height: 1.538em; color: #666; margin: 0 0 10px 0;}

em { font-style: italic;}
strong { font-weight: bold;}

#header h1 { width: 133px; float: left;}

#title h2 { margin: 116px 0 8px 0;}

.caption h4 { margin: 10px 0 0 0; font-size: 0.8125em; line-height: 1.538em; font-weight: bold;}
.caption p, .caption h4 { color: #09c;}

#overview p { font-size: 1.25em; line-height: 1.5em; color: #888; margin: 16px 0 21px 0;}
#footer p { font-size: 0.75em; color: #333; margin: 10px 0;}

#archive p { color: #999; font-size: 0.675em; margin: 0 16px 6px 16px; padding: 6px 0 0 6px; border-left: 2px solid #333;}
#archive h2 { line-height: 1.1em; color: #fff; font-weight: bold; background: rgba(000, 000, 000, 0.7); padding: 6px 0 0 6px; position: relative; z-index: 2;}
#archive h3 { font-size: 18px; color: #000; margin: 18px 0 0 0; padding: 0;}
#archive h4 { color: #888; font-style: italic;}
#archive em { color: #09c;}

#home p { color: #666;}
#home h2 { line-height: 1.1em; color: #fff; font-weight: bold; margin-bottom: 4px;}
#home h3 { color: #666; margin: 0 0 6px 0; padding: 0;}
#home h4 { font-size: 0.75em;}
#home h4 strong { color: #696;}
#home blockquote { font-size: 18px; line-height: 26px; color: #666; margin: 0 0 9px 0;}
#home .feature img { margin: -20px -20px 0 -20px;}

/* Style Chunks */

pre { font-family:monospace; font-size: 1em; line-height: 1.25em; width: 100%; float: left; margin: 4px 0 4px 0; padding: 8px 0 7px 0; border: solid #ccc; border-width:1px 0 1px 0;}

.caption { margin-right: 0;}

#article img { margin: 4px 0 6px 0;}
.comparison img { float: left;}
.right { padding-left: 20px;}

/* Links */

a { color: #09c; text-decoration: none;}
a:hover { border-bottom: 1px solid #09c;}
